<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger App</title>
    <script src="bundle.js"></script>
    <style>
        .container {
            margin-top: 3em;
        }
    </style>
</head>
<!-- ng-app initialise angular -->
<body ng-app="app">

    <!--    <h1 ng-controller="UserController as $ctrl">
            Bonjour {{ $ctrl.getName() }}
        </h1>

        <div class="test" ng-controller="ApplicationInfoController as $ctrl">
            <strong>{{ $ctrl.name }}</strong>
            <span ng-if="$ctrl.toggle">{{ $ctrl.version }}</span>
            <button class="btn" ng-click="$ctrl.toggleVersion()">TGL VERSION</button>
        </div>
    -->

 <!--  <div class="container" ng-controller="TabsController as $ctrl">
        <ul class="nav nav-tabs">
            <li ng-class="{'active':$ctrl.tab === 'user'}">
                <a ng-click="$ctrl.changeTab('user')" href="#">User</a>
            </li>
            <li ng-class="{'active': $ctrl.tab === 'application'}">
                <a ng-click="$ctrl.changeTab('application')" href="#">Application</a>
            </li>
        </ul>
        <div ng-if="$ctrl.tab === 'user'">
            <h1>USER</h1>
        </div>
        <div 
            ng-if="$ctrl.tab === 'application'"  
            ng-controller="ApplicationInfoController as $ctrl">
            <h1>APPLICATION</h1>

            <ul>
                <li ng-repeat="user in $ctrl.users">
                    {{ user.name }}
                </li>
            </ul>
        </div>
    </div>
    
    -->
    
    <div class="container" ng-controller="TabsController as $ctrl">
        <ul class="nav nav-tabs">
           <li ng-repeat="tab in $ctrl.tabs track by $index"
                ng-class="{'active': $ctrl.index === $index}">
                <a ng-click="$ctrl.changeTab($index)" href>{{ tab.title }}</a>
            </li>
            <li class="pull-right">
                <div class="btn-group">
                    <button ng-click="$ctrl.navigateTab(-1)"
                        class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-chevron-left"></span>                    
                    </button>
                    <button ng-click="$ctrl.navigateTab(+1)"
                         class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </li>
        </ul>
        
    </div>
    
    
    
    
    
    
    
</body>

</html>
